<div class="row">
{{#each whiskeys as |whiskey|}}
    <div class="col-lg-4">
      <div class="card narrower columns" style="background:#748988;border:5px solid white; border-radius:35px;margin-top:10px;">
  <div class="card-body card-body-cascade">
    <section class ='card-title' data-id="{{whiskey._id}}">
      <h5>ID: {{whiskey._id}}</h5>
      <h6 style="font-size:35px;">Name: {{whiskey.name}}</h6>
      <h6 style="font-size:25px;">Type: {{whiskey.type}}</h6>
      <h6 style="font-size:25px;">Country: {{whiskey.country}}</h6>
      <h6 style="font-size:25px;">Price: {{whiskey.price}}</h6>
      <h6 style="font-size:25px;">Comments: {{whiskey.comments}}</h6>

      <button class="delete-button btn-info btn-md" data-id="{{whiskey._id}}" style="background:#ede8d8;color:black;">Delete</button>
    </section>
    </div>
  </div>
</div>
{{/each}}
</div>
