{{#each whiskeys as |whiskey|}}
    <div data-id="{{whiskey._id}}" class="card" style="display:flex;margin:0 auto;width:30%">
          <div class="card-block" style="background:#748988">
            <h6 class="card-title" style="background:#ede8d8;color:black;font-size:30px;font-weight:bold;">ID:
              {{#if whiskey._id}}
                {{whiskey._id}}
              {{else}}
                No ID provided.
              {{/if}}
            </h6>
            <div class="card-text">
              <h6 style="color:white;font-size:30px;font-weight:bold;">Name:
                {{#if whiskey.name}}
                  {{whiskey.name}}
                {{else}}
                  No name provided.
                {{/if}}
              </h6>
              <h6 style="color:white;font-size:25px;">Type:
                {{#if whiskey.type}}
                  {{whiskey.type}}
                {{else}}
                  No whiskey type provided.
                {{/if}}
              </h6>
              <h6 style="color:white;font-size:25px;">Country:
                {{#if whiskey.country}}
                  {{whiskey.country}}
                {{else}}
                  No country provided.
                {{/if}}
              </h6>
              <h6 style="color:white;font-size:25px;">Price:
                {{#if whiskey.price}}
                  {{whiskey.price}}
                {{else}}
                  No price provided.
                {{/if}}
              </h6>
              <h6 style="color:white;font-size:25px;">Comments:
                {{#if whiskey.comments}}
                  {{whiskey.comments}}
                {{else}}
                  No comments provided.
                {{/if}}
              </h6>
              <button class="delete-button btn-info btn-md" data-id="{{whiskey._id}}" style="background:#ede8d8;color:black;">Delete</button>
          </div>
        </div>
      </div><br>
  {{/each}}
